# RestFB
src/test/resources/integration-test.properties

# Maven
target/

# IntelliJ project files
*.iml
*.iws
*.ipr
.idea/

# eclipse project file
.settings/
.classpath
.project
.eclipse-build

# NetBeans specific
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

# Misc
pom.xml.asc
release.sh
.DS_Store
