/* reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

body {
	line-height: 1;
	/* letter-spacing: 0.175px; */
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

:focus {
	outline: 0;
}

ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* end reset */

/* main */

body {
	font-family:"Lucida Grande", "Segoe UI", Tahoma, Verdana, Arial, Helvetica, sans-serif;
	margin: 10px;
	font-size: 12pt;
 	text-align: center;
 	vertical-align: middle; 
 	line-height: 1.25;
}

#content {
	width: 900px;
	text-align: left;
	margin: 0 auto;	
}

h1 {
	font-family: "Lucida Grande", "Segoe UI", Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 16pt;
	margin-bottom: 10px;
	font-weight: bold;	
}

h2, h3 {
	font-family: "Lucida Grande", "Segoe UI", Tahoma, Verdana, Arial, Helvetica, sans-serif;
	margin-bottom: 10px;
	font-weight: bold;	
}

p {
	margin-top: 5px;
	margin-bottom: 10px;
}

ul {
	list-style-type: disc;
	margin-bottom: 10px;
}

ul li {
	margin-left: 30px;
}

pre, code, tt {
	font-family: Consolas, "Bitstream Vera Sans Mono", Monaco, "Courier New", Courier, monospace;
}

pre {	
	border: 1px solid #888;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;	
	background-color: #f9f9f9;
	padding-bottom:0;
	padding-left: 10px;
	padding-top: 6px;
	padding-bottom: 6px;
	margin-bottom: 10px;
	overflow-x: auto;
	overflow-y: hidden;	
}

.warning-bubble {	
	border: 1px solid #aaa;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;	
	background-color: #fec;	
	padding-left: 10px;
	padding-top: 6px;
	padding-bottom: 6px;
	padding-right: 4px;
	margin-bottom: 10px;
}

a {
	font-weight: bold;
}

a:link {	
	color: #3B5998;	
	text-decoration: none;	
}

a:visited {
	color: #3B5998;	
	text-decoration: none;
}

a:hover {
	text-decoration: none;
	/* border-bottom: 1px solid #aaa;*/
	background-color: #eaeaea;
}

pre a:link {
	font-family: Consolas, "Bitstream Vera Sans Mono", Monaco, "Courier New", Courier, monospace;
	font-weight: bold;
}

div.spacer {
	height: 10px;	
}

.footnote {	
	font-size: 11pt;	
}

#exceptions-list li {
	margin-bottom: 6px;	
}

#exceptions-list .spacer {
	height: 4px;	
}

#error-table {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;	
	margin: 0px;
	background-color: rgb(255, 153, 153);
	border-collapse: collapse;
	border-spacing: 3px;
	width: 100%;
}

#error-table th {
	padding-left: 8px;	
}

#error-table b {
	font-family: "Lucida Grande", "Segoe UI", Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
}

#error-table td {
	padding: 6px 5px 2px 8px;
}

.important {
	color: #933;
	font-family: "Lucida Grande", "Segoe UI", Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
}

#facebook td {
	vertical-align: middle;	
}

.logoImage {
	margin-left: -22px; 
}

/* end main */

/* highlight */

.str {
	color: #080;
}

.kwd {
	color: #008;
}

.com {
	color: #800;
}

.typ {
	color: #606;
}

.lit {
	color: #066;
}

.pun {
	color: #660;
}

.pln {
	color: #000;
}

.tag {
	color: #008;
}

.atn {
	color: #606;
}

.atv {
	color: #080;
}

.dec {
	color: #606;
}

pre.prettyprint {

}

@media print {
	.str {
		color: #060;
	}
	.kwd {
		color: #006;
		font-weight: bold;
	}
	.com {
		color: #600;
		font-style: italic;
	}
	.typ {
		color: #404;
		font-weight: bold;
	}
	.lit {
		color: #044;
	}
	.pun {
		color: #440;
	}
	.pln {
		color: #000;
	}
	.tag {
		color: #006;
		font-weight: bold;
	}
	.atn {
		color: #404;
	}
	.atv {
		color: #060;
	}
}

/* end highlight */