/* reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

:focus {
	outline: 0;
}

ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* end reset */

/* main */

body {	
	margin: 10px;
	font-size: 14pt;
}

h1 {
	font-size: 16pt;
	margin-bottom: 10px;
}

h2, h3 {
	margin-bottom: 10px;
}

p {
	margin-top: 5px;
	margin-bottom: 10px;
}

ul {
	list-style-type: disc;
	margin-bottom: 10px;
}

ul li {
	margin-left: 30px;
}

/* end main */

/* highlight */

.str {
	color: #080
}

.kwd {
	color: #008
}

.com {
	color: #800
}

.typ {
	color: #606
}

.lit {
	color: #066
}

.pun {
	color: #660
}

.pln {
	color: #000
}

.tag {
	color: #008
}

.atn {
	color: #606
}

.atv {
	color: #080
}

.dec {
	color: #606
}

pre.prettyprint {
	padding-bottom:0;
	padding-left:14px;
	padding-top:16px;
	border: 1px solid #888;
	background-color: #f9f9f9;
	margin-bottom: 10px;
}

@media print {
	.str {
		color: #060
	}
	.kwd {
		color: #006;
		font-weight: bold
	}
	.com {
		color: #600;
		font-style: italic
	}
	.typ {
		color: #404;
		font-weight: bold
	}
	.lit {
		color: #044
	}
	.pun {
		color: #440
	}
	.pln {
		color: #000
	}
	.tag {
		color: #006;
		font-weight: bold
	}
	.atn {
		color: #404
	}
	.atv {
		color: #060
	}
}

/* end highlight */